/* body {
  font-family: Arial, sans-serif;
} */

.Search {
  font-family: Arial, sans-serif;
  border: 1px solid #dadde1;
  color: #878787;
  padding: 16px;
  border-radius: 4px;
}
.Search form {
  margin-bottom: 20px;
}
.Search h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.Search ul {
  padding-left: 0;
  margin: 0;
}
.Search li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
/* .Search canvas {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  margin-top: 5px;
} */
.Search .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 10px;
}
.Search .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 5px;
  /* line-height: 1; */
}
.CurrentTemperature a {
  text-decoration: none;
}
